@charset "UTF-8";

img, embed, object, video {
    max-width: 100%;
}

#container
{
    width: 95%;
    margin: 0 auto;

}

#columnCon {
    display: flex;
    flex-direction:column;
   
}

#box1 
{
    background-color: #bb94ab;
    width: 100%;
    height: 200px;
    color: #0b89dd00;
}
#box2{
    background-color: #6b1e1e;
    width: 100%;
    height: 200px;
    color: #0b89dd00;
    
}
#box3 {
    color: #0b89dd00;
}
#box4{
    color: #0b89dd00;
}

h1 {
    text-align: center;


}




@media screen and (max-width:641px) {
    #columnCon{
        display: flex;
        flex-direction: row;
        color: #0b89dd00;
    }
    #box1{
        background-color: #0b89dd;
        width: 40%;
        color: #0b89dd00;
        

    }
    #box2 {
        background-color: #7d6d88;
        width: 40%;
        color: #0b89dd00;
    }
    #box3 {
        background-color: rgb(177, 177, 177) ;
        width: 40%;
        color: #0b89dd00;
    }
    #box4 {
        background-color: rgb(56, 36, 17);
        width: 40%;
        color: #0b89dd00;
        
    }
    
}